@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 10px;
  background: #FFFFFF00;
}
::-webkit-scrollbar-thumb {
  background: #FFF;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  transition: ease-in-out 200ms;
  box-sizing: border-box
}

footer {
  min-height: 15vh;
}

body {
  max-width: 100vw;
}

html {
  overflow-x: hidden;
}

/* Header */

.header {
  position: relative;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 3em;
  padding-top: 5vh;
  max-height: 5vh;
  text-shadow: 0 0 10px #00000060;
  z-index: 100;
}

nav ul {
	margin: 0;
	padding: -1.5em 0;
	list-style: none;
  max-height: 5vh;
}

nav li {
	display: inline-block;
  max-height: 5vh;
}

nav a {
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	padding: .5em 1em .5em 0;
	color: #FFF;
  max-height: 5vh;
}

nav a:hover,
nav a:focus{
	color: #DDD;
}

/* Footer */

.footer p {
  font-size: 1em;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 90vh;
  font-weight: bold;
}

.footer span {
  display: block;
  font-weight: 200;
}


/* Background Style */

.middle {
  margin-top: -45vh;
  height: auto;
  width: 100vw;
  padding-top: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  background: linear-gradient(to bottom right, #3126ab, #7911ee);;
  z-index: 1;
  position: relative;
}

.footer {
  width: 100vw;
  background-color: #232323;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width: 60vw;
  height: 70vh;
  margin: auto;
  margin-top: 16em;
  margin-bottom: 10em;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 20px #00000070;
  background: #FFF
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1500px) {
.slideshow-container {
  height: 40vh;
}
}

@media (max-width: 1000px) {

.slideshow-container {
  max-width: 90vw;
  height: auto;
}

.mySlides img {
  width: 100%;
  height: auto;
}

.prev, .next {
  padding: .5em;
}
}

@media (max-width: 500px) {

.footer p {
  font-size: .8em
}

p {
  font-size: 1em;
}
.header {
  font-size: .5em;
}

nav a {
	font-size: .6rem;
}

.top_p {
  margin-top: -15em;
  font-size: .8em;
}
}
