@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #FFF;
  border-radius: 10px;
}

body {
  color: #FFFFFF;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 6em;
  margin: 0;
  text-transform: uppercase;
  padding: 4vh 4vw;
  text-shadow: 0 0 10px #000000;
}

h2 {
  font-weight: 700;
  font-size: 6em;
  text-transform: uppercase;
  text-align: center;
  margin-left: 5vw;
  margin-top: -2vh;
  position: absolute;
  text-shadow: 0 0 10px #000000;
}

p {
  font-size: 1.5em;
  margin-left: 5vw;
  width: 40%;
  text-align: justify;
}

.color_background {
  background: linear-gradient(to bottom left, 	#990099, #800000);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  margin: -.5em;
}

.picture_top {
  height: 95vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  z-index: 2;
  background: #232323;
  background-image: url("images/top_design.jpg");
  background-size: cover;
  position: relative;
}

.our_work {
  background: linear-gradient(to bottom right, #800000, #990099);
  width: 100vw;
  height: 150vh;
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  margin-left: -.5em;


}

.our_work h2 {

}

.work_background {
  background-color: #bfbfbf20;
  display: block;
  width: 85vw;
  position: absolute;
  text-align: center;
  margin: 25vh 0 0 6vw;
}

.work_1 {
  width: 25vw;
  height: auto;
  padding: 3em 1em 1em 3em;
  border-radius: 3em;
}

.work_2 {
  width: 25vw;
  height: auto;
  padding: 3em 1em 1em 1em;
  border-radius: 3em;
}

.work_3 {
  width: 25vw;
  height: auto;
  padding: 3em 3em 1em 1em;
  border-radius: 3em;
}

.work_4 {
  width: 25vw;
  height: auto;
  padding: 1em 1em 3em 3em;
  border-radius: 3em;
}

.work_5 {
  width: 25vw;
  height: auto;
  padding: 1em 1em 3em 1em;
  border-radius: 3em;
}

.work_6 {
  width: 25vw;
  height: auto;
  padding: 1em 3em 3em 1em;
  border-radius: 3em;
}
