@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

* {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
}

footer {
  min-height: 12em;
}

body {
  max-width: 100vw;
}

html {
  overflow-x: hidden;
}

/* Header */
.header {
  position: absolute;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 5vh;
  max-height: 5vh;
}

nav ul {
	margin: 0;
	padding: -1.5em 0;
	list-style: none;
  max-height: 5vh;
}

nav li {
	display: inline-block;
  max-height: 5vh;
}

nav a {
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	padding: .5em 0 .5em 0;
	color: #FFF;
  max-height: 5vh;
}

nav a:hover,
nav a:focus{
	color: #DDD;
}

.top_p {
  margin-left: 15vw;
  margin-right: 10vw;
  margin-top: -25em;
  font-size: .5em;
  padding-right: 40vw;
}

.top_quote {
  font-size: 8em;
  margin-left: 10vw;
  text-shadow: 0 0 10px #000000;
}

/* Background Top */

h1 {
  padding-left: 10vw;
  padding-top: 20vh;
  font-size: 6em;
  text-transform: uppercase;
  line-height: .8em;
  margin: 0;
  font-weight: 700;
  text-shadow: 0 0 10px #000000;
}

h1 span {
  display: block;
  text-shadow: 0 0 10px #000000;
}

p {
  position: relative;
  font-size: 2em;
  display: block;
  z-index: 100;
  top: 0;
  text-shadow: 0 0 10px #000000;
}

/* Footer */

.footer p {
  font-size: 1em;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 90vh;
}

/* Background Style */

.background_top {

  height: 95vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  z-index: -200;
  background-image: url("images/placeholder.jpg");
  background-size: cover;
}

.background_middle_1 {
  background-color: #777777;
  height: 60vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 80% , 100% 80%, 0 100%);
  clip-path: polygon(0 0, 80% , 100% 80%, 0 100%);
  z-index: -220;
  margin-top: -45vh;
}

.background_middle_2 {
  background-color: #777777;
  height: 80vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  z-index: -225;
  margin-top: -.1em;
}

.footer {
  width: 100vw;
  background-color: #232323;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: -230;
}

.products_container {
  top: 65vh;
  width: 45vw;
  left: 50vw;
  z-index: 50;
  height: 90vh;
  position: absolute;
}

.products_content {
  position: relative;
  left: -50%;
  background: linear-gradient(to bottom left, #B2DFEE, #A2D573);
  width: 100%;
  height: 100%;
  outline: 2px solid #FFF;
  outline-offset: -3em;
}

.middle {

}

/* Products */

.products_content img{
  height: auto;
  width: 35vw;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

@media only screen and (max-width: 600px){
  .products_content img {
    width: 70vw;
    }

    .products_container {
      height: 100vh;
      width: 100vw;
    }

    .products_content {
      outline: 3px solid #FFF;
      outline-offset: -1.5em;
    }

    h1 {
      font-size: 2em;
    }
  }


@media only screen and (max-width: 1500px){
    .products_content img {
      width: 40vw;
      }

      .products_container {
        width: 45vw;
        height: 90vh;
      }

      .products_content {
        outline: 2px solid #FFF;
        outline-offset: -3em;
      }
    }
