@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 10px;
  background: #FFFFFF00;
}
::-webkit-scrollbar-thumb {
  background: #FFF;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  transition: ease-in-out 200ms;
}

footer {
  min-height: 15vh;
}

body {
  max-width: 100vw;
}

html {
  overflow-x: hidden;
}

/* Header */

.header {
  position: absolute;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 5vh;
  max-height: 5vh;
  text-shadow: 0 0 10px #00000060;
  z-index: 100;
}

nav ul {
	margin: 0;
	padding: -1.5em 0;
	list-style: none;
  max-height: 5vh;
}

nav li {
	display: inline-block;
  max-height: 5vh;
}

nav a {
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	padding: .5em 1em .5em 0;
	color: #FFF;
  max-height: 5vh;
}

nav a:hover,nav a:focus{
	color: #DDD;
}

.top_p {
  margin-left: 17vw;
  margin-right: 10vw;
  margin-top: -25em;
  font-size: .5em;
  padding-right: 40vw;
}

.top_quote {
  font-size: 8em;
  margin-left: 10vw;
  text-shadow: 0 0 10px #00000060;
}

/* Background Top */

.background_top h1,.design_top h1 {
  padding-left: 10vw;
  padding-top: 20vh;
  font-size: 6em;
  text-transform: uppercase;
  line-height: .8em;
  margin: 0;
  font-weight: 700;
  text-shadow: 0 0 10px #00000060;
}

.background_top h1 span,.design_top h1 span {
  display: block;
}

p {
  position: relative;
  font-size: 1.7em;
  display: block;
  z-index: 100;
  top: 0;
  text-shadow: 0 0 10px #00000060;
}

.background_top h1,.background_top p, {
  position: relative;
  z-index: 10;
}

/* Footer */

.footer p {
  font-size: 1em;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 90vh;
  font-weight: bold;
}

.footer span {
  display: block;
  font-weight: 200;
}

/* Background Style */

.svg_logo {
  width: 50vw;
  fill: #FFFFFF50;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-filter: drop-shadow( 0 0 50px #00000050 );
  filter: drop-shadow( 0 0 50px #00000050 );
}

.background_top {
  height: 95vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  z-index: 2;
  background: #232323;
  background-image: url("images/header_images/picture__homepage.jpg");
  background-size: cover;
  position: relative;
}

.background_glass {
  height: 95vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  z-index: 3;
  background: linear-gradient(to bottom, #00000000, #FFFFFF80);;
  background-size: cover;
  position: absolute;
}

.middle {
  margin-top: -45vh;
  height: auto;
  width: 100vw;
  padding-top: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  background: linear-gradient(to bottom left, #B2DFEA, #A2D565);
  z-index: 1;
  position: relative;
}

.footer {
  width: 100vw;
  background-color: #232323;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

/* About */
.about_images {
  position: relative;
  width: 60vw;
  margin: 20vw 20vw 0 20vw;
  display: flex;
  box-shadow: 0 0 30px #00000030;
  background: linear-gradient(to top right, #23232320, #23232305);
  padding: .5em
}

.about_images h1 {
  display: block;
  position: absolute;
  right: 0;
  top: -2em;
  line-height: .8em;
  text-transform: uppercase;
  text-shadow: 0 0 10px #00000060;
}

.about_images span {
  position: absolute;
  display: block;
  right: 0;
}

.about_images img{
  position: absolute;
  width: 10em;
  left: 0;
}

.tobias,.endre {
  position: relative;
  width: 50%;
  height: 100%;
  padding-left: 11em
}

.tobias h2,.endre h2 {
  display: inline-block;
  position: relative;
  font-size: 1.8em;
  margin: auto;
  padding: .4em;
}

.development h2,.design h2,.pictures h2,.video h2 {
  display: block;
  position: relative;
  font-size: 1.8em;
  margin: auto;
  padding: .3em
}

.tobias p,.endre p {
  position: relative;
  display: inline-block;
  font-size: 1em;
  padding: 0 10% 10% 1em;
  text-shadow: none;
  width: 80%;
}

.development p,.design p,.pictures p,.video p {
  position: relative;
  display: block;
  font-size: 1em;
  text-shadow: none;
  width: 90%;
  padding: .5em
}

.products_images {
  position: relative;
  width: 80vw;
  margin: 10vw 10vw 0 10vw;
  display: flex;
  box-shadow: 0 0 30px #00000030;
  background: linear-gradient(to top right, #23232320, #23232305);
}

.products_images h1 {
  display: block;
  position: absolute;
  top: -2em;
  line-height: .8em;
  text-transform: uppercase;
  text-shadow: 0 0 10px #00000060;
}

.products_images span {
  position: relative;
  display: flex;
}

.products_images img{
  display: block;
  width: 100%;
}

.middle h1,.design_middle h1 {
  font-size: 4em;
}

/* Designs */

.design_top {
  height: 95vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  z-index: 2;
  background: #232323;
  background-image: url("https://source.unsplash.com/2000x1500/?design,dark");
  background-size: cover;
  position: relative;
}

.design_middle {
  margin-top: -45vh;
  height: 200vh;
  width: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  background: linear-gradient(to bottom right, #3126ab, #7911ee);
  z-index: 1;
  position: relative;
}

.design_title {
  position: relative;
  margin-top: -35vh;
  font-size: .8em;
  padding-bottom: 4em;
  position: absolute;
  right: 0;
}

.products_design {
  position: relative;
  height: auto;
  width: 80vw;
  margin: 35em 10vw 0 10vw;
  display: inline-block;
  box-shadow: 0 0 30px #00000030;
  background: linear-gradient(to top right, #23232320, #23232305);
}

.products_design h1 {
  display: block;
  position: absolute;
  top: -2em;
  line-height: .8em;
  text-transform: uppercase;
  text-shadow: 0 0 10px #00000060;
}

.products_design span {
  display: block;
}

.products_design img{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
  width: 33.33%;
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;

}

.products_design h2 {
  font-size: 1.8em;
  padding: .4em .4em 0 .2em;
}

.products_design p {
  padding: .4em .4em 2em .4em;
  font-size: 1em;
  margin-bottom: 3em;
}

.products_design a {
  display: block;
  color: orange;
  margin: auto;
  position: relative;
  text-decoration: none;
}

.products_design a:hover {
  text-shadow: 0 0 10px #000;
  color: #FFFFFF
}

.products_design::after {
  content: "";
  clear: both;
  display: table;
}

.cta {
  margin: auto;
  display: inline-block;
  width: 100%;
  margin-top: 10em;
}

.container {
  position: relative;
  margin-left: 10vw;
  background-color: #00000010;
  width: 35vw;
  height: 100%;
  background: linear-gradient(to top right, #23232320, #23232305);
  display: inline-block;
  box-shadow: 0 0 30px #00000030;
  margin-bottom: 15em
}

.form__small {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.container h1 {
  text-transform: uppercase;
  text-shadow: 0 0 10px #00000060;
  text-align: center;
  padding-top: .5em;
  margin: auto;
  font-size: 4em;
}

input {
  width: 80%;
  padding: .5em;
  background-color: #00000025;
  color: #FFF;
  box-sizing: border-box;
  margin: 1.5em auto;
  border: 1px solid #FFF;
  display: block;
}

textarea {
  width: 80%;
  height: 15em;
  margin: auto;
  background-color: #00000025;
  color: #FFF;
  box-sizing: border-box;
  border: 1px solid #FFF;
  resize: none;
  display: block;
  font-family: 'PT Sans', sans-serif;
  padding: .5em;
}


input::placeholder {
  color: #FFF;
  opacity: .75;
}

textarea::placeholder {
  color: #FFF;
  opacity: .75;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.button {
  width: 100%;
  margin: auto;
}

.button_dark {
  display: block;
  margin: 1em auto;
  width: 7em;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border: 4px solid #FFF;
  padding: .5em;
  color: #FFF;
  cursor: pointer;
  background: #ffffff00;
}

.button_dark:hover,.button_dark:focus {
  background: #FFF;
  color: #000;
}

.captcha {
	margin: auto;
	padding: 0em;
	width: fit-content;
}

.text__finding_futures {
  position: absolute;
  margin: 8em auto;
  display: inline-block;
  width: 50%;
  overflow-x: hidden;
  -webkit-filter: drop-shadow( 0 0 100px #00000070 );
  filter: drop-shadow( 0 0 100px #00000070 );
}

.text__finding_futures img {
  width: 35vw;
  height: auto;
  display: block;
  margin: auto;
}

@media (max-width: 1400px) {
  .products_images {
    margin-top: 15em;
  }
}

@media (max-width: 1200px) {

.about_images {
  width: 70vw;
  margin: 30vw 15vw 0 15vw;
}

.about_images img{
  position: absolute;
  width: 7em;
  left: 0;
}

.tobias,.endre {
  position: relative;
  width: 50%;
  height: 100%;
  padding-left: 8em
}

.tobias h2, .endre h2, .development h2, .design h2, .pictures h2, .video h2 {
  display: inline-block;
  position: relative;
  font-size: 1.8em;
  margin: auto;
  padding: .4em;
}

.tobias p, .endre p, {
  font-size: 1em;
}

.development p, .design p, .pictures p, .video p {
  padding: .5em
}

.products_images {
  margin: 12em 10vw 0 10vw;
}

.container h1 {
  font-size: 3em
}

}

@media (max-width: 1050px) {
  .products_images {
    margin: 10em 10vw 0 10vw;
    display: block;
  }

  .products_images img {
    width: 100%;
    display: block;
  }

  .development , .design , .pictures , .video  {
    display: block;
  }

  .project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
    width: 50%;
    height: 27em
  }

  .text__finding_futures {
    position: absolute;
    margin: auto;
    display: block;
    width: 50%;
    overflow-x: hidden;
  }

  .text__finding_futures img {
    position: absolute;
    right: 1000vw;
  }

  .container {
    width: 80vw;
  }

}

@media (max-width: 1000px) {
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.2em;
    display: block;
    z-index: 100;
    top: 0;
    text-shadow: 0 0 10px #00000060;
  }

  .top_p p {
    margin-top: 15vh
  }

  .top_p {
      padding-right: 20vw;
  }

  .top_quote {
    font-size: 4em;
    margin-left: 10vw;
    text-shadow: 0 0 10px #00000060;
  }

  .about_images {
    display: block;
    margin-top: 20em
  }

}

@media (max-width: 500px) {

.design_middle {
  height: 150em;
}

.footer p {
  font-size: .8em
}

p {
  font-size: 1em;
}

.background_top h1,.design_top h1 {
  font-size: 3em;
}

.container h1 {
font-size: 2em;
}

.top_p {
  padding-right: 0vw;
  padding-left: 8vw
}

.header {
  font-size: .5em;
}

.about_images {
  margin-top: 12em
}

.about_images h1,.products_images h1,.products_design h1 {
  font-size: 2em
}

.tobias h2,
.endre h2 {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  margin: auto;
  padding: .4em .4em .4em 0;
}

.development h2,.design h2,.pictures h2,.video h2,.project_1 h2,.project_2 h2,.project_3 h2,.project_4 h2 {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  margin: auto;
  padding: .2em;
}

.development p,.design p,.pictures p,.video p,.project_1 p,.project_2 p,.project_3 p,.project_4 p {
  padding: .4em;
}

.tobias p,.endre p{
 display: flex;
 padding: 0;
 width: 80%;
}

nav a {
	font-size: .6rem;
}

.top_p {
  margin-top: -15em;
  font-size: .8em;
}

.tobias,.endre, {
  width: 100%;
  padding-left: 0
}

.project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
  width: 100%;
}

.design_mobile {
  position: absolute;
  right: 1000vw;
}

.products_design {
  margin-top: 30em
}

.products_images {
  margin-top: 10em
}
}

/* 404 */
.background_top_404 {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: #232323;
  background-image: url("images/header_images/picture__homepage.jpg");
  background-size: cover;
  position: relative;
}

.background_glass_404 {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background: linear-gradient(to bottom, #00000000, #FFFFFF80);;
  background-size: cover;
  position: absolute;
}

.text_404 {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 25vh;
  text-shadow: 0 0 30px #00000060
}

.text_404 h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 30px #00000060
}

.text_404 h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.text_404 h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
