/* 404 */
.background_top_404 {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: #232323;
  background-image: url("images/header_images/picture__homepage.jpg");
  background-size: cover;
  position: relative;
}

.background_glass_404 {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background: linear-gradient(to bottom, #00000000, #FFFFFF80);;
  background-size: cover;
  position: absolute;
}

.text_404 {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 25vh;
  text-shadow: 0 0 30px #00000060
}

.text_404 h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 30px #00000060
}

.text_404 h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.text_404 h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
