/* Header */

.header {
  position: absolute;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 5vh;
  max-height: 5vh;
  text-shadow: 0 0 10px #00000060;
  z-index: 100;
}

nav ul {
	margin: 0;
	padding: -1.5em 0;
	list-style: none;
  max-height: 5vh;
}

nav li {
	display: inline-block;
  max-height: 5vh;
}

nav a {
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	padding: .5em 1em .5em 0;
	color: #FFF;
  max-height: 5vh;
}

nav a:hover,nav a:focus{
	color: #DDD;
}
