* {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: 'PT Sans', sans-serif;
  transition: ease-in-out 200ms;
}

footer {
  min-height: 15vh;
}

body {
  max-width: 100vw;
}

html {
  overflow-x: hidden;
}

.middle {
  margin-top: -45vh;
  height: 250vh;
  width: 100vw;
  padding-top: 20vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  background: linear-gradient(to bottom left, #B2DFEA, #A2D565);
  z-index: 1;
  position: relative;
}

.footer {
  width: 100vw;
  background-color: #232323;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

/* Footer */

.footer p {
  font-size: 1em;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 90vh;
  font-weight: bold;
}

.footer span {
  display: block;
  font-weight: 200;
}

/* Header */

.header {
  position: relative;
  padding-left: 10vw;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  height: 2em;
  text-shadow: 0 0 10px #00000060;
  z-index: 100;
  background: #232323;
  box-shadow: 0 0 40px #00000080;
}

nav ul {
	margin: auto;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	padding: 0 1em 0 0;
	color: #FFF;
}

nav a:hover,nav a:focus{
	color: #DDD;
}

.products_title {
  margin-top: 25em;
  margin-left: 10vw;
  text-transform: uppercase;
  text-shadow: 0 0 10px #00000060;
}

.all_products {
  width: 100%;
  display: inline-block;
  margin: 5vw 10vw 0 10vw;
}

.product_container {
  width: 25vw;
  height: auto;
  display: inline-block;
  box-shadow: 0 0 30px #00000030;
  background: linear-gradient(to top right, #23232320, #23232305);
}

.product_container span {
  display: block;
  width: 15vw;
}
.product_container h2{
  display: inline-block;
  position: relative;
  font-size: 1.8em;
  margin: auto;
  padding: .3em
}

.product_container p{
  position: relative;
  display: block;
  font-size: 1em;
  max-height: 6em;
  text-shadow: none;
  width: 90%;
  padding: .5em
}

.all_products h2 {
  display: block;
  position: absolute;
  top: -2em;
  line-height: .8em;
  text-transform: uppercase;
  text-shadow: 0 0 10px #00000060;
}


.all_products img{
  display: inline-block;
  width: 25vw;
  height: auto;
}

.middle h1,.website_middle h1 {
  font-size: 4em;
}


@media (max-width: 1400px) {
  .products_images {
    margin-top: 15em;
  }
}

@media (max-width: 1200px) {

.development h2,.website h2{
  display: inline-block;
  position: relative;
  font-size: 1.8em;
  margin: auto;
  padding: .4em;
}


.development p,.website {
  padding: .5em
}

.products_images {
  margin: 12em 10vw 0 10vw;
}

.container h1 {
  font-size: 3em
}

}

@media (max-width: 1050px) {
  .products_images {
    margin: 10em 10vw 0 10vw;
    display: block;
  }

  .products_images img {
    width: 100%;
    display: block;
  }

  .development , .website {
    display: block;
  }

  .container {
    width: 80vw;
  }

}

@media (max-width: 1000px) {
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.2em;
    display: block;
    z-index: 100;
    top: 0;
    text-shadow: 0 0 10px #00000060;
  }

  .top_p p {
    margin-top: 15vh
  }

  .top_p {
      padding-right: 20vw;
  }

  .top_quote {
    font-size: 4em;
    margin-left: 10vw;
    text-shadow: 0 0 10px #00000060;
  }
}

@media (max-width: 500px) {

.design_middle {
  height: 150em;
}

.footer p {
  font-size: .8em
}

p {
  font-size: 1em;
}

.background_top h1 {
  font-size: 3em;
}

.container h1 {
font-size: 2em;
}

.top_p {
  padding-right: 0vw;
  padding-left: 8vw
}

.header {
  font-size: .5em;
}


.development h2,.design h2,.pictures h2,.video h2,.project_1 h2,.project_2 h2,.project_3 h2,.project_4 h2 {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  margin: auto;
  padding: .2em;
}

.development p,.design p,.pictures p,.video p,.project_1 p,.project_2 p,.project_3 p,.project_4 p {
  padding: .4em;
}

nav a {
	font-size: .6rem;
}

.top_p {
  margin-top: -15em;
  font-size: .8em;
}

.project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
  width: 100%;
}

.design_mobile {
  position: absolute;
  right: 1000vw;
}

.products_design {
  margin-top: 30em
}

.products_images {
  margin-top: 10em
}
}
