

.products_design {
  position: relative;
  height: auto;
  width: 80vw;
  margin: 25em 10vw 10em 10vw;
  display: inline-block;
  box-shadow: 0 0 30px #00000030;
  background: linear-gradient(to top right, #23232320, #23232305);
}

.products_design h1 {
  display: block;
  position: absolute;
  top: -2em;
  line-height: .8em;
  text-transform: uppercase;
  text-shadow: 0 0 10px #00000060;
}

.products_design span {
  display: block;
}

.products_design img{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.project_1, .project_2, .project_3, .project_4, .project_5, .project_6 {
  width: 33.33%;
  height: auto;
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
}

.products_design h2 {
  font-size: 1.8em;
  padding: .4em .4em 0 .2em;
}

.products_design p {
  padding: .4em .4em 2em .4em;
  font-size: 1em;
  line-height: auto
}

.products_design a {
  display: block;
  margin: auto;
  position: relative;
  text-decoration: none;
  text-shadow: none;
  font-weight: bold;
  margin-bottom: 3em;
  width: auto;
  margin-left: .5em
}

.products_design a:hover {
  text-shadow: 0 0 10px #00000070;
  color: #FA5732
}
